body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
   display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', Arial, sans-serif;
}

.container{
  width: 920px;
  height: 520px;
  background: white url(images/bg-pattern-desktop.svg) no-repeat 1260% 65%;
  display: grid;
  grid-template-columns: 400px 1fr;
  border-radius: 30px;
  grid-gap: 6rem;
}
.image-bg{
width: 100%;
}
.answer{
  display: none;
}
.wrapper{
  margin-top: 45px;
  display: flex;
  flex-direction: column;
}
h3{
  font-size: 16px;
  font-weight: 400;
}
h3:hover{
  color: hsl(14, 88%, 65%);
}
h1{
  font-size: 2rem;
}
.question-answer{
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 350px;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}
img{
  transform: rotate(0deg);
  transition: all .3s ease-in;
}
.active img{
  transform: rotate(180deg);
  transition: all .3s ease-in;
}
.active h3{
  font-weight: 700;
}
.question{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.question img{
  align-self: center;
}
#left-section{
  position: relative;
}
.img-section{
  position: absolute;
  top: 70px;
  left: -80px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 120% center;
}
.image-box{
  position: absolute;
  top: 190px;
  left: -90px;
}
.active .answer{
  display: block;
  padding-bottom: 1.3rem;
  color: hsl(240, 6%, 50%);
  transition: all .3s ease-in;
}
@media only screen and (max-width: 657px) {
  body{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container{
    width: 330px;
    height: 580px;
    background: white url(images/bg-pattern-desktop.svg) no-repeat 1260% 65%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;

  }
  #right-section{
    padding-left: 20px;
    position: absolute;
    bottom: 7rem;
    width: 50%;
    position: absolute;
    top: 200px;
  }
  #right-section h3{
    font-size: .9rem;
    margin-bottom: 20px;
  }
  .answer{
    font-size: .9rem;
    width: 79%;
  }
  .img-section{
    position: absolute;
    top: -105px;
    left: 50px;
    height: 70%;
    width: 70%;
    background-repeat: no-repeat;
    background-position: 120% center;
  }
  .image-woman{
    width: 100%;
  }
  .image-box{
    position: absolute;
    top: -45px;
    left: 45px;
    width: 30%;
  }
  .wrapper{
    width: 30%;
  }
  .question{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 80%;
    font-size: 2px;

  }
  .question-answer{
    height: 100%;
    display: grid;
    grid-template-columns: 350px;
    width: 300px;
    border-bottom: 1px solid hsl(240, 5%, 91%);
  }
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    position: absolute;
    bottom: 7rem;
    width: 50%;
    position: absolute;
    top: 150px;
    left: 75px;
  }
  /* .heading{
    position: fixed;
    top: 220px;
    left: 300px;
  } */
}